@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #229ED9;
}

.wrapper {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-message{
	font-size: 17px;
}

form {
    width: 350px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 17px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #11b835;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #088323;
}